DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ETHERSCAN_API_TOKEN=YOUR_ETHERSCAN_TOKEN_HERE
TWITTER_API_KEY=YOUR_TWITTER_API_KEY
TWITTER_API_SECRET_KEY=YOUR_TWITTER_API_SECRET_KEY
TWITTER_BEARER_TOKEN=YOUR_TWITTER_BEARER_TOKEN
TWITTER_USERNAME=YOUR_TWITTER_USERNAME
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID
